<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table class="table table-striped">

		<tbody>
			<tr>
				<td>Name</td>
				<td>{{Name}}</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{Phone}}</td>
				
			</tr>
			<tr>
				<td>Email</td>
				<td>{{Email}}</td>
				
			</tr>
			<tr>
				<td>City</td>
				<td>{{City}}</td>
				
			</tr>
			<tr>
				<td>College</td>
				<td>{{College}}</td>
				
			</tr>
			<tr>
				<td>Course</td>
				<td>{{Course}}</td>
				
			</tr>
			<tr>
				<td>Comments</td>
				<td>{{Comments}}</td>
				
			</tr>
		</tbody>
	</table>

</body>
</html>
